* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

#content {
    grid-column: 2/-1;
    background-color: grey;
}

#content-top {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
}

#active-folder-heading {
    font-size: 4.75rem;
    font-weight: 700;
    max-width: 1000px;
    word-wrap: break-word;
}