#sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: rgb(170, 255, 43);
    font-size: 2rem;
    padding: 16px;
    display: grid;
    grid-template-rows: 7fr 1fr;

    justify-items: center;
}

#side-bar-items {
    display: grid;
}

#sidebar .sidebar-add-button {
    width: 150px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

#sidebar .sidebar-add-button:hover {
    background-color: rgb(10, 78, 10);
    color: white;
    font-weight: 900;
}