#todo-clear-mode-button {
    width: 175px;
    font-size: 1.2rem;
    border-radius: 12px;
    height: 58px;
    margin: 12px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;

    transition: box-shadow 60ms ease-in-out,
        font-weight 50ms ease-in,
        font-size 50ms ease-in,
        color 50ms ease-in;
}

#todo-clear-mode-button.active {
    color: red;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow: 0 0 10px red;
    background-color: rgb(255, 198, 198);
}

#todo-clear-mode-button.active .on-off {
    font-weight: 900;
}

#todo-clear-mode-button:hover {
    background-color: rgb(255, 171, 171);
}


.todo.expand-mode:hover {
    background-color: rgb(24, 244, 24);
    transition: background-color 0.15s ease-in-out;
}

.todo.expanded {
    background-color: rgb(24, 244, 24);
    height: 90%;
}

.todo.expanded .description {
    display: block;
}

.todo.clear-mode:hover {
    background-color: rgb(249 60 60);
    transition: background-color 0.08s ease-in-out;
}

.todo.expand-mode {
    border-color: black;
    background-color: white;
    border-width: 1px;
}

.todo.clear-mode {
    border-color: #ff5757;
    background-color: rgb(255 197 197);
    border-width: 2px;
    box-shadow: 0 0 10px 5px rgb(136 44 44);
}