#content {
    display: grid;
}

#content-items {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

#content-items {
    margin: 16px;
    padding: 16px;
}

#todo-add-form form {
    background-color: white;
    padding: 8px;
    border-radius: 16px;

}

#todo-add-form input,
#todo-add-form textarea {
    width: 350px;
    font-size: 1rem;
    border: 1px solid green;
    padding: 4px;
}


/* edit text area css, also maybe do a seperate function for its attributes*/
#todo-add-form #todo-description {
    height: 200px;
}

#todo-add-form button {
    border-radius: 12px;
}