#content {
    display: grid;
}

#content-items {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

#content-items {
    margin: 16px;
    padding: 16px;

}

#todo-add-form input {
    border-width: 5px;
    border: 1px solid green;
    padding: 4px;
    font-size: 1rem;
}

#todo-add-form button {
    border-radius: 12px;
}