#content {
    display: grid;
}

#content-items {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

#content-items {
    display: grid;
    margin: 16px;
    padding: 16px;
}

/* To Do Form */

#todo-add-form form {
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    display: none;
}

#todo-add-form input,
#todo-add-form textarea {
    width: 350px;
    font-size: 1rem;
    border: 1px solid green;
    padding: 4px;
}

#todo-add-form button {
    border-radius: 12px;
}

/* To Do */

.todo {
    background-color: white;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
}

.todo .title {
    font-weight: bold;
    font-size: 2rem;
}